.main_box
  .resident_box
    %table
      %tr
        %th 入居者数
      %tr
        %th 居住階
        %th 男性
        %th 女性
        %th 合計
      %tr
        %td 1F
        %td 3人
        %td 9人
        %td 12人
      %tr
        %td 2F
        %td 2人
        %td 11人
        %td 13人
      %tr
        %td 3F
        %td 2人
        %td 13人
        %td 15人
      %tr
        %td 合計
        %td 7人
        %td 33人
        %td 40人
  .resident_diary
    .resident_diary__title
      業務日誌
    .resident_diary__data
      .resident_diary__data__name
        山田 花子 様
      .resident_diary__data__time
        2020-7-15
    .resident_diary__content
      本日 15時頃山田様が転倒されました。頭部を強く打っている為、受診しています。結果は軽度の打撲で、Dr.からは様子観察の指示が出ています。吐き気、嘔吐、めまい等ないか観察をお願いします。
  .contact_note
    .contact_note__title
      連絡ノート
    .contact_note__data
      .contact_note__data__writer
        吉川 涼
      .contact_note__data__time
        2020-7-15
    .contact_note__content
      業務日誌の山田様転倒資料、参照願います。本日巡視を2時間ごと実施をお願いします。また、0時、5時にフルバイタル計測お願いします。記録に残しておいてください。
